{% extends "base.html" %}

{% block javascript_apps %}{% endblock %}

{% block title %}
    Boojbooj About Us synchronized comments YouTube videos Twitter
{% endblock %}

{% block content %}
<div id="content">
<div class="content_inner">
<h1>About Us</h1>

<p>
<h2>Company Overview</h2>

<p>
<i>booj</i> in punjabi (language spoken in North India) means find.

<p>
We are a privately-held bay area company committed to building the best
social experience for users watching YouTube videos with their friends
and family. We deliver a simple way for users to watch their favorite
YouTube videos, and communicate and connect with each other through
the exchange of comments.

<p>

<h2>Team</h2>

<p>
Boojbooj team is comprised of Carnegie Mellon University faculty and
graduates who bring a breadth of experience building highly scalable
and fault tolerant systems. The team comes from such well-known companies
as Business Objects, March first and Charles Schwab.

<p>
Rahul Arora
<br>
Eric Daimler
<br>
Alvin Abad

<p>

<h2>boojbooj.com blog and twitter</h2>

<p>
Please read our blog <a href="http://boojbooj.wordpress.com/" target="_blank">here</a>
 or follow us on twitter at <a href="http://twitter.com/boojbooj">@boojbooj.</a>


<h2>Contact us</h2>

<p>
For questions or comments, please contact us by clicking <a href="/site/contact/">here.</a>

<font style="color: rgb(11, 83, 148);" size="6">
</font>

</div>
</div>

{% endblock %}
