{% extends "base.html" %}

{% block javascript_apps %}{% endblock %}

{% block title %}
    Boojbooj About Us
{% endblock %}

{% block content %}
<div id="content">
<div class="content_inner">
<h1>About Us</h1>

<p>
<h2>Company Overview</h2>

<p>
<i>booj</i> in punjabi (language spoken in North India) means find.

<p>
<i>Boojbooj</i> introduces social aspect of watching YouTube videos on the web. 
We enable users to watch videos with their twitter community. 
Viewers will be able to communicate and connect with each other through the 
exchange of comments and answers to one simple question: 

<p>

<i style="margin-left: 30px;">Do you find anything interesting in this video?</i>

<p>

Users can watch YouTube videos by simply pasting the 
YouTube URL and clicking on "Watch Video" button. 
Stay tuned to this blog or follow us on twitter at boojbooj for all the boojbooj news.
We are based in Santa Clara, California.

<h2>boojbooj.com blog and twitter</h2>

<p>
Please read our blog <a href="http://boojbooj.wordpress.com/" target="_blank">here</a>
 or follow us on twitter at <a href="http://twitter.com/boojbooj">@boojbooj.</a>


<h2>Contact us:</h2>

<p>
For questions or comments, please contact us by clicking <a href="/site/contact/">here.</a>

<font style="color: rgb(11, 83, 148);" size="6">
</font>

</div>
</div>

{% endblock %}
