{% extends "base.html" %}

{% block javascript_apps %}{% endblock %}

{% block title %}
    Boojbooj Contact Information
{% endblock %}

{% block content %}
<div id="content">
<div class="content_inner">
<h1>Contact</h1>
<p>
    Talk to us on Twitter:
    <a target="_blank" href="http://twitter.com/boojbooj">@boojbooj</a>
<p>
    Let us know what you think. 
    Send an email to: <a href="mailto:rahul.arora@boojbooj.com">rahul.arora@boojbooj.com</a>
</div>
</div>
{% endblock %}
