<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

{% include 'templates/css.html' %}
{% include 'templates/javascript_tools.html' %}
{% include 'templates/javascript_yapple.html' %}

<title>{{ info.title }}</title>
</head>
<body>
{% include 'templates/header.html' %}

<div id="content">
<h1>Sorry, the page you are trying to reach does not exist.</h1>
 
</div>

{% include 'templates/footer.html' %}

</body>
</html>