{% extends "base.html" %}

{% block javascript_apps %}{% endblock %}

{% block title %}
    {{ info.title }}
{% endblock %}

{% block content %}
<div id="content">

<h1>Login</h1>

<div style="padding: 20px; margin: 20px; width: 400px;; border: 1px solid blue">
  <a href="/account/twitter_auth"">
  <img class="icon2" src="http://assets1.twitter.com/images/favicon.png" />
  Login using your Twitter account
  </a>
  <br />
  <br />
  <a href="/account/google_auth"">
  <img class="icon2" src="http://www.google.com/favicon.ico"/>
  Login using your Google account</a>
  <br />
  <br />
  <a href="/account/youtube_auth"">
  <img class="icon2" src="http://s.ytimg.com/yt/favicon-vfl86270.ico"/>
  Login using your YouTube account</a>
  <br />
  <br />
  <a href="/account/"">
  <img class="icon2" src="http://static.ak.fbcdn.net/favicon.ico" />
  Login using your Facebook account (coming soon)</a>
</div>

</div>
{% endblock %}
